{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Animals</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <header>
        <ul>
            <strong>
                <li><a href="{% url 'main:index' %}">HOME</a></li>
                <li><a href="{% url 'main:assist' %}">ASSISTANCE</a></li>
                <li><a href="{% url 'main:adopt' %}">ADOPT</a></li>
                <li><a href="{% url 'main:medic' %}">DOCTORS</a></li>
                <li><a href="{% url 'main:help' %}">VOLUNTEER</a></li>
            </strong>
        </ul>
    </header>
    <img class="image" src="{% static 'main/background_i_a.png' %}" alt="image of Animals">
    <div class="abt">
            <strong>WELCOME TO URBAN SPECIES!</strong> 
    </div>
    <div class="intro">   
        <p>
            Urban species is a website developed for welfare<br/> 
            and protection of animals living in cities. It aims<br/> 
            to aid people who want to help these animals but<br/> 
            do not know how. The website also helps pet<br/> 
            owners and to be pet owners by showing nearby<br/> 
            veternary cilnics and as such that are required for<br/> 
            various needs of their pets as well as providing<br/> 
            information about how the adoption process for<br/> 
            animals is done. 
        </p>
    </div>
</body>
</html>
